.global-wrapper {
  overflow: hidden;
}

.el-left {
  padding-left: 70px;
}

.el-line-header {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 70px;
    height: 100%;
    width: 1px;
    background: rgba(255, 255, 255, 0.71);
  }  
}

.el-line {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 70px;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.2);
  }  
}

.el-number {
  position: absolute;
  font-size: 90px;
  background: url('../images/header-bg.png');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.el-title {
  position: relative;
  display: inline-block;
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -75px;
    right: 0px;
    width: 220px;
    height: 220px;
    opacity: .1;
    background: grey;
    border-radius: 50%;
  }
  h2 {
    margin: 0;
    color: rgba(0, 0, 0, 0.2);
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
  }
  p {
    max-width: 385px;
    margin: 0;
    color: black;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

.el-circle {
  z-index: 1;
  position: absolute;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 10px rgba(55, 55, 53, 0.41);
  &.gray {
    background: #d8d8d8;
  }
  &.black {
    background: black;
  }
  &.silver {
    background: #f1f1f1;
  }
}


/* Header Begin */

.header {
  padding-bottom: 355px;
  background: url('../images/header-bg.png') no-repeat bottom/cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 392px solid transparent; 
    border-left: 392px solid rgba(255, 255, 255, 0.2); 
    border-top: 392px solid rgba(255, 255, 255, 0.2);
  }
  .galleria-pic {
    position: relative;
    padding-top: 10px;
    text-align: center;
  }
  .header-left {
    position: relative;
    display: inline-block;
    margin: -45px 0 0 60px;
    .header-logo {
      margin-bottom: 74px;
      display: inline-block;
    }
    .header-info {
      position: relative;
      margin-left: 20px;
      max-width: 382px;
      p {
        margin: 0;
        color: white;
        font-size: 14px;
        line-height: 16px;
      }
      span {
        position: absolute;
        top: 36px;
        left: -134px;
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 800;
        transform: rotate(-90deg);
      }
    }
  }
  .macbook-pic {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 55px;
  }
}

/* Header End */


/* Begin Section 1 */
.section1 {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -350px;
    height: 1000px;
    width: 100%;
    background: url('../images/clouds.png') no-repeat top/cover;
  }
  .el-number {
    position: relative;
    top: -130px;
    margin-left: 84px;
  }
  .circles-wrap {
    position: relative;
    top: -90px;
    max-width: 1280px;
    height: 420px;
    margin: 0 auto;
    h2 {
      margin: 0 0 8px 0;
      color: white;
      font-size: 72px;
      font-weight: 800;
      text-transform: uppercase;
      opacity: .5;
    }
    p {
      margin: 0 0 0 15px;
      color: black;
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
    }
    .left-circle-info {
      z-index: 2;
      position: absolute;
      top: 70px;
      display: inline-block;
      max-width: 400px;
      margin-left: 50px;
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -45px;
        left: -41px;
        width: 240px;
        height: 240px;
        opacity: .3;
        background: black;
        border-radius: 50%;
        border: 17px solid grey;
      }
    }
    .right-circle-info {
      z-index: 2;
      position: absolute;
      top: 3px;
      right: 70px;
      max-width: 400px;
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -23px;
        left: -38px;
        width: 240px;
        height: 240px;
        opacity: .3;
        background: black;
        border-radius: 50%;
        border: 17px solid grey;
      }
    }
    .bottom-circle-info {
      z-index: 2;
      position: absolute;
      right: 264px;
      bottom: 37px;
      max-width: 469px;
      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -36px;
        left: -46px;
        width: 240px;
        height: 240px;
        opacity: .3;
        background: black;
        border-radius: 50%;
        border: 17px solid grey;
      }
    }
  }
}
/* End Section 1 */



/* Begin Section 2 */
.section2 {
  overflow: hidden;
  .el-title {
    margin: 83px 0 0 -26px;
    h2 {
      margin-bottom: 8px;
    }
    p {
      margin: -43px 0 0 222px;
    }
  }
  .el-number {
    right: 190px;
  }
  .screens-wrap {
    height: 670px;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    .account-screen {
      width: 1051px;
      &.front-screen {
        z-index: 3;
        position: absolute;
        top: -70px;
        right: -180px;
        transition-duration: 1s;
        transition-property: all;
        transform: translate(-275px, 65px);
        &.animated {
          transform: translate(0,0);
        }
      }
      &.middle-screen {
        z-index: 2;
        position: relative;
        margin: 0 auto;
        .bubble {
          position: absolute;
          top: 50px;
          left: 0px;
          transition-duration: 1s;
          transition-delay: 1s;
          transition-property: all;
          transform: scale(0.0);
          &.animated {
            transform: scale(1);
          }
        }
      }
      &.back-screen {
        z-index: 1;
        position: absolute;
        top: 71px;
        left: -191px;
        transition-duration: 1s;
        transition-property: all;
        transform: translate(285px, -70px);
        &.animated {
          transform: translate(0,0);
        }
      }
    }
  }
}
/* End Section 2 */



/* Begin Section 3 */
.section3 {
  padding-bottom: 200px;
  .el-number {
    top: -83px;
    margin-left: 85px;
  }
  .el-title {
    position: absolute;
    top: -7px;
    right: 0;
    margin-right: 90px;
    p {
      margin: -35px 0 0 140px;
    }
  }
  .materials-wrap {
    position: relative;
    max-width: 1170px;
    padding-top: 285px;
    margin: 0 auto 55px auto;
    .materials-screen {
      width: 623px;
      box-shadow: 0 61px 106.1px 24.9px rgba(0, 1, 1, 0.56);
      &.materials-front {
        z-index: 1;
        position: absolute;
        top: 115px;
        left: 9px;
        transition-duration: 1s;
        transition-property: all;
        transform: translate(0, 170px);
        &.animated {
          transform: translate(0,0);
        }
      }
      &.materials-middle {
        position: relative;
        margin: auto;
      }
      &.materials-back {
        z-index: -1;
        position: absolute;
        right: 49px;
        bottom: 135px;
        transition-duration: 1s;
        transition-property: all;
        transform: translate(0, -110px);
        &.animated {
          transform: translate(0,0);
        }
      }
    }
    .materials-color {
      position: relative;
      bottom: -55px;
      height: 245px;
      max-width: 670px;
      margin-left: 80px;
      .el-circle {
        transition: 1.5s;
        &:nth-of-type(1) {
          top: 0;
          left: 0;
        }
        &:nth-of-type(2) {
          bottom: 5px;
          left: 111px;
          &.up {
            bottom: 10px;
          }
          &.down {
            bottom: 0;
          }
          &.left {
            left: 116px;
          }
          &.right {
            left: 106px;
          }
        }
        &:nth-of-type(3) {
          bottom: 45px;
          left: 315px;
          &.up {
            bottom: 50px;
          }
          &.down {
            bottom: 40px;
          }
          &.left {
            left: 320px;
          }
          &.right {
            left: 310px;
          }
        }
        &:nth-of-type(4) {
          bottom: 10px;
          right: 65px;
          &.up {
            bottom: 15px;
          }
          &.down {
            bottom: 5px;
          }
          &.left {
            right: 60px;
          }
          &.right {
            right: 70px;
          }
        }
      }
      span {
        position: absolute;
        color: #d8d8d8;
        font-size: 24px;
        font-weight: 400;
        &:nth-of-type(1) {
          top: 0px;
          left: 87px;
        }
        &:nth-of-type(2) {
          bottom: -3px;
          left: 181px;
        }
        &:nth-of-type(3) {
          z-index: -3;
          top: 113px;
          left: 383px;
        }
        &:nth-of-type(4) {
          z-index: -3;
          top: 135px;
          right: 11px;
        }
      }
      strong {
        position: absolute;
        display: inline-block;
        width: 1px;
        height: 215px;
        opacity: 0.2;
        background: black;
        &:nth-of-type(1){
          transform: rotate(147deg);
          left: 85px;
        }
        &:nth-of-type(2){
          transform: rotate(74deg);
          left: 235px;
          bottom: -51px;
        }
        &:nth-of-type(3){
          transform: rotate(103deg);
          left: 475px;
          bottom: -47px;
        }
        &:nth-of-type(4){
          transform: rotate(0deg);
          right: 101px;
          top: -50px;
        }
      }
    }
  }
  b {
    position: absolute;
    bottom: 421px;
    left: 43px;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    transform: rotate(-90deg);
  }
}
/* End Section 3 */



/* Begin Section 4 */
.section4 {
  height: 900px;
  .el-title {
    // margin-left: 14px;
    left: -56px;
    p {
      margin: -34px 0 0 133px;
    }
  }
  .el-number {
    right: 193px;
    top: -115px;
  }
  .product-wrap {
    position: relative;
    height: 705px;
    max-width: 1170px;
    margin: 68px auto 0 auto;
    .product-screen {
      width: 623px;
      box-shadow: 0 61px 106.1px 24.9px rgba(0, 1, 1, 0.56);
      &.product-front {
        z-index: 2;
        position: absolute;
        right: 49px;
        top: -91px;
        transition-duration: 1s;
        transition-property: all;
        transform: translate(0, 91px);
        &.animated {
          transform: translate(0,0);
        }
      }
      &.product-middle {
        z-index: 1;
        position: relative;
        margin: 0 auto;
      }
      &.product-back {
        position: absolute;
        left: 8px;
        bottom: 138px;
        transition-duration: 1s;
        transition-property: all;
        transform: translate(0, -87px);
        &.animated {
          transform: translate(0,0);
        }
      }
    }
  }
}
/* End Section 4 */



/* Begin Section 5 */
.section5 {
  padding-bottom: 121px;
  .el-number {
    top: -75px;
    margin-left: 85px;
  }
  .el-title {
    position: absolute;
    right: 93px;
    p {
      margin: -34px 0 0 130px;
    }
  }
  .projects-wrap {
    position: relative;
    padding-top: 105px;
    height: 670px;
    max-width: 1170px;
    margin: 0 auto;
    .projects-screen {
      width: 622px;
      box-shadow: 0 61px 106.1px 24.9px rgba(0, 1, 1, 0.56);
      &.projects-front {
        z-index: 1;
        position: absolute;
        left: 9px;
        transition-duration: 1s;
        transition-property: all;
        transform: translate(0, 50px);
        &.animated {
          transform: translate(0,0);
        }
      }
      &.projects-back {
        position: absolute;
        right: 49px;
        bottom: 0;
        transition-duration: 1s;
        transition-property: all;
        transform: translate(0, -50px);
        &.animated {
          transform: translate(0,0);
        }
      }
    }
  }
}
/* End Section 5 */



/* Begin Section 6 */
.section6 {
  position: relative;
  padding-bottom: 50px;
  .el-number {
    top: -135px;
    margin-left: 84px;
  }
  .el-title {
    position: absolute;
    right: 92px;
    p {
      margin: -34px 0 0 130px;
    }
  }
  .architects-wrap {
    position: relative;
    height: 823px;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 115px;
    .architects-screen {
      width: 623px;
      box-shadow: 0 61px 106.1px 24.9px rgba(0, 1, 1, 0.56);
      &.architects-front {
        z-index: 1;
        position: absolute;
        left: 9px;
        transition-duration: 1s;
        transition-property: all;
        transform: translate(0, 50px);
        &.animated {
          transform: translate(0,0);
        }
      }
      &.architects-back {
        position: absolute;
        top: 222px;
        right: 46px;
        transition-duration: 1s;
        transition-property: all;
        transform: translate(0, -50px);
        &.animated {
          transform: translate(0,0);
        }
      }
    }
  }
  .fonts-wrap {
    position: relative;
    display: flex;
    color: rgba(6, 0, 0, 0.6);
    font-weight: 800;
    max-width: 1170px;
    padding-bottom: 93px;
    margin: 0 auto;
    p {
      margin: 0 0 7px 0;
      line-height: 24px;
      font-size: 36px;
    }
    span {
      font-size: 18px;
    }
    .fonts-item:not(:last-child) {
      margin-bottom: 23px;
    }
    .fonts-left {
      position: relative;
      width: 580px;
      margin-top: 103px;
      padding-left: 84px;
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: -50px;
        right: 61px;
        width: 220px;
        height: 220px;
        opacity: .1;
        background: grey;
        border-radius: 50%;
      }
    }
    .fonts-right {
      position: relative;
      padding-left: 40px;
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: -58px;
        right: -36px;
        width: 220px;
        height: 220px;
        opacity: .1;
        background: grey;
        border-radius: 50%;
      }
    }
    .el-circle {
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition-duration: 2s;
      transition-property: all;
      transform: translate(0, -510px);
      &.animated {
        transform: translate(0,0);
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 77px;
        margin: auto;
        width: 1px;
        height: 460px;
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
  .fonts-text {
    position: absolute;
    left: 19px;
    bottom: 246px;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    transform: rotate(-90deg);
  }
}
/* End Section 6 */



/* Begin Section 7 */
.section7 {
  position: relative;
  padding-bottom: 60px;
  .el-title {
    left: 52px;
    &:after {
      top: -15px;
    }
    h2 {
      span {
        display: block;
        margin-left: 20px;
        line-height: 42px;
      }
    }
    p {
      margin: -19px 0 0 95px;
    }
  }
  .el-number {
    right: 197px;
    top: -57px;
  }
  .creation-numbers {
    position: absolute;
    height: 1313px;
    max-width: 1170px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    b {
      position: absolute;
      color: rgba(0, 0, 0, 0.2);
      font-size: 300px;
      text-transform: uppercase;
      &:nth-of-type(1) {
        right: 247px;
        top: -130px;
      }
      &:nth-of-type(2) {
        left: 283px;
        top: 107px;
      }
      &:nth-of-type(3) {
        right: 245px;
        top: 470px;
      }
      &:nth-of-type(4) {
        left: 260px;
        bottom: 285px;
      }
    }
  }
  .creation-wrap {
    position: relative;
    height: 1313px;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 11px;
    .creation-screen {
      width: 623px;
      box-shadow: 0 61px 106.1px 24.9px rgba(0, 1, 1, 0.56);
      transition: 1s; //del
      &.creation-first {
        position: absolute;
        right: 11px;
      }
      &.creation-second {
        position: absolute;
        left: 44px;
        top: 238px;
      }
      &.creation-third {
        position: absolute;
        bottom: 234px;
        right: 11px;
      }
      &.creation-fourth {
        position: absolute;
        bottom: 0;
        left: 44px;
      }
    }
  }
}

.creation-bottom {
  .el-circle {
    left: 32px;
    top: 18px;
    &.active {
      top: 790px;
      transition: 2s;
    }
  }
  .el-title {
    position: absolute;
    right: 90px;
    p {
      margin: -35px 0 0 72px;
    }
  }
  .mac-wrap {
    padding-top: 174px;
    text-align: center;
  }
}
/* End Section 7 */



/* Begin Section 8 */
.section8 {
  padding-bottom: 97px;
  .el-title {
    top: 44px;
    left: -4px;
    &:after {
      top: -14px;
      right: 0px;
    }
    h2 {
      span {
        display: block;
        margin-left: 35px;
        line-height: 42px;
      }
    }
    p {
      margin: -18px 0 0 80px;
    }
  }
  .el-number {
    position: absolute;
    right: 190px;
    top: -12px;
  }
  .news-wrap {
    padding-top: 51px;
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    .news-left {
      padding-top: 154px;
      text-align: center;
      width: 478px;
    }
    .news-right {
      box-shadow: 0 61px 106.1px 24.9px rgba(0, 1, 1, 0.56);
    }
  }
}

.conclusion {
  .el-title {
    left: -31px;
    &:after {
      top: -83px;
    }
    p {
      margin: -45px 0 0 178px;
    }
  }
  .conclusion-wrap {
    position: relative;
    height: 355px;
    top: -120px;
    right: -35px;
    .circle-wrap {
      height: 97px;
      width: 76px;
      &:first-child {
        position: absolute;
        top: -82px;
        right: 0px;
        height: 109px;
        &:before {
          content: '';
          position: absolute;
          right: 135px;
          top: 4px;
          width: 1px;
          height: 220px;
          background: white;
          transform: rotate(53deg);
          box-shadow: 5px 0 11px 0px rgba(0, 0, 0, 0.75);
        }
      }
      &:nth-child(2) {
        position: absolute;
        top: 60px;
        right: 196px;
        &:before {
          content: '';
          position: absolute;
          top: -14px;
          right: 165px;
          width: 1px;
          height: 220px;
          background: white;
          transform: rotate(67deg);
          box-shadow: 5px 0 11px 0px rgba(0, 0, 0, 0.75);
        }
      }
      &:nth-child(3) {
        position: absolute;
        top: 173px;
        right: 452px;
        &:before {
          content: '';
          position: absolute;
          top: -26px;
          right: 180px;
          width: 1px;
          height: 220px;
          background: white;
          transform: rotate(71deg);
          box-shadow: 5px 0 11px 0px rgba(0, 0, 0, 0.75);
        }
      }
      &:nth-child(4) {
        position: absolute;
        top: 272px;
        right: 730px;
        &:before {
          content: '';
          position: absolute;
          top: -32px;
          right: 186px;
          width: 1px;
          height: 220px;
          background: white;
          transform: rotate(74deg);
          box-shadow: 5px 0 11px 0px rgba(0, 0, 0, 0.75);
        }
      }
      &:last-child {
        position: absolute;
        top: 349px;
        right: 1024px;
      }
      span {
        position: absolute;
        bottom: 0;
        color: black;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
/* End Section 8 */



/* Begin Footer */
.footer {
  padding-bottom: 15px;
  text-align: center;
  span {
    color: #aaa;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
  }
}
/* End Footer */