<!-- HEADER -->
<header class="header el-left el-line-header">
  <div class="galleria-pic">
    <img src="images/galleria.png" alt="gelleria">
  </div>
  <div class="header-left">
    <div class="header-logo">
      <img src="images/header-logo.png" alt="logo">
    </div>
    <div class="header-info">
      <p>Margraf Industria Marmi Vicentini выражает подлинную культуру качества, которая включает в себя всю производственную систему, начиная от добычи сырья и до пристального внимания ко всем деталям дальнейшей обработки.</p>
      <span>philosophy of stone</span>
    </div>
  </div>
  <div class="macbook-pic">
    <img src="images/header-mac.png" alt="macbook">
  </div>
</header>
<!-- /HEADER -->

