<section class="section5 el-line el-left setion-animate">
  <span class="el-number">- 05 -</span>
  <div class="el-title">
    <h2>projects</h2>
    <p>Margraf Industria Marmi Vicentini выражает подлинную культуру качества, которая включает в себя всю производственную систему, начиная от добычи сырья и до пристального внимания ко всем деталям дальнейшей обработки.</p>
  </div>
  <div class="projects-wrap">
    <div class="projects-screen projects-front animate-it">
      <img src="images/projects-front.jpg" alt="projects front">
    </div>
    <div class="projects-screen projects-back animate-it">
      <img src="images/projects-back.jpg" alt="projects back">
    </div>
  </div>
</section>