<section class="section2 el-line setion-animate">
  <div class="el-title">
    <h2>an account</h2>
    <p>Margraf Industria Marmi Vicentini выражает подлинную культуру качества, которая включает в себя всю производственную систему, начиная от добычи сырья и до пристального внимания ко всем деталям дальнейшей обработки.</p>
  </div>
  <span class="el-number">- 02 -</span>
  <div class="screens-wrap">
    <div class="account-screen front-screen animate-it">
      <img src="images/front-screen.png" alt="front screen">
    </div>
    <div class="account-screen middle-screen">
      <img src="images/middle-screen.png" alt="middle screen">
      <div class="bubble animate-it">
        <img src="images/bubble.png" alt="bubble">
      </div>
    </div>
    <div class="account-screen back-screen animate-it">
      <img src="images/back-screen.png" alt="back screen">
    </div>
  </div>
</section>