<section class="section6 el-left el-line setion-animate">
  <span class="el-number">- 06 -</span>
  <div class="el-title">
    <h2>architects</h2>
    <p>Margraf Industria Marmi Vicentini выражает подлинную культуру качества, которая включает в себя всю производственную систему, начиная от добычи сырья и до пристального внимания ко всем деталям дальнейшей обработки.</p>
  </div>
  <div class="architects-wrap">
    <div class="architects-screen architects-front animate-it">
      <img src="images/architects-front.jpg" alt="architects front">
    </div>
    <div class="architects-screen architects-back animate-it">
      <img src="images/architects-back.jpg" alt="architects back">
    </div>
  </div>
  <div class="fonts-wrap">
    <div class="fonts-left">
      <div class="fonts-item">
        <p>Proxima Nova Semibold</p>
        <span>12pt</span>
      </div>
      <div class="fonts-item">
        <p>Proxima Nova Black</p>
        <span>90pt</span>
      </div>
      <div class="fonts-item">
        <p>Proxima Nova Regular</p>
        <span>14pt, 12pt</span>
      </div>
    </div>
    <div class="fonts-right">
      <div class="fonts-item">
        <p>Futura PT Light Regular</p>
        <span>12pt, 18pt. 48pt, 30pt</span>
      </div>
      <div class="fonts-item">
        <p>Futura PT Medium</p>
        <span>12pt, 14pt, 18pt, 30pt, 20pt</span>
      </div>
    </div>
    <div class="el-circle animate-it"></div>
  </div>
  <span class="fonts-text">typography website</span>
</section>