<section class="section3 el-left el-line setion-animate">
  <span class="el-number">- 03 -</span>
  <div class="el-title">
    <h2>materials</h2>
    <p>Margraf Industria Marmi Vicentini выражает подлинную культуру качества, которая включает в себя всю производственную систему, начиная от добычи сырья и до пристального внимания ко всем деталям дальнейшей обработки.</p>
  </div>
  <div class="materials-wrap">
    <div class="materials-screen materials-front animate-it">
      <img src="images/materials-front.jpg" alt="materials front">
    </div>
    <div class="materials-screen materials-middle">
      <img src="images/materials-middle.jpg" alt="materials middle">
    </div>
    <div class="materials-screen materials-back animate-it">
      <img src="images/materials-back.jpg" alt="materials back">
    </div>
    <div class="materials-color">
      <div class="el-circle"></div>
      <span># ffffff</span>
      <div class="el-circle gray"></div>
      <span># d8d8d8</span>
      <div class="el-circle black"></div>
      <span># 000000</span>
      <div class="el-circle silver"></div>
      <span># f1f1f1</span>
      <strong></strong>
      <strong></strong>
      <strong></strong>
      <strong></strong>
    </div>
  </div>
  <b>color website</b>
</section>