<section class="section1 el-line">
  <span class="el-number el-left">- 01 -</span>
  <div class="circles-wrap el-left">
    <div class="left-circle-info">
      <h2>idea</h2>
      <p>Margraf Industria Marmi Vicentini выражает подлинную культуру качества, которая включает в себя всю производственную систему, начиная от добычи сырья и до пристального внимания ко всем деталям дальнейшей обработки.</p>
    </div>
    <div class="right-circle-info">
      <h2>WEBSITE</h2>
      <p>Margraf Industria Marmi Vicentini выражает подлинную культуру качества, которая включает в себя всю производственную систему, начиная от добычи сырья и до пристального внимания ко всем деталям дальнейшей обработки.</p>
    </div>
    <div class="bottom-circle-info">
      <h2>TASK</h2>
      <p>Глубокая проработка логики сайта позволила создать очень удобный интерфейс с помощью которого посетитель может легко выбрать нужное изделие, материал,  и даже архитектора, после чего начать создавать свой проект с нуля. По сути посетитель помогает нам сделать для него идеальное предложение.</p>
    </div>
  </div>
</section>