<section class="section4 el-line el-left setion-animate">
  <div class="el-title">
    <h2>product</h2>
    <p>Margraf Industria Marmi Vicentini выражает подлинную культуру качества, которая включает в себя всю производственную систему, начиная от добычи сырья и до пристального внимания ко всем деталям дальнейшей обработки.</p>
  </div>
  <span class="el-number">- 04 -</span>
  <div class="product-wrap">
    <div class="product-screen product-front animate-it">
      <img src="images/product-front.jpg" alt="product front">
    </div>
    <div class="product-screen product-middle">
      <img src="images/product-middle.jpg" alt="product middle">
    </div>
    <div class="product-screen product-back animate-it">
      <img src="images/product-back.jpg" alt="product back">
    </div>
  </div>
</section>