<section class="section7 el-line">
  <div class="el-title">
    <h2>project <span>creation</span></h2>
    <p>Margraf Industria Marmi Vicentini выражает подлинную культуру качества, которая включает в себя всю производственную систему, начиная от добычи сырья и до пристального внимания ко всем деталям дальнейшей обработки.</p>
  </div>
  <span class="el-number">- 07 -</span>
  <div class="creation-numbers">
    <b>1</b>
    <b>2</b>
    <b>3</b>
    <b>4</b>
  </div>
  <div class="creation-wrap el-left">
    <div class="creation-screen creation-first">
      <img src="images/creation-first.jpg" alt="creation first">
    </div>
    <div class="creation-screen creation-second">
      <img src="images/creation-second.jpg" alt="creation second">
    </div>
    <div class="creation-screen creation-third">
      <img src="images/creation-third.jpg" alt="creation third">
    </div>
    <div class="creation-screen creation-fourth">
      <img src="images/creation-fourth.jpg" alt="creation fourth">
    </div>
  </div>
</section>

<section class="creation-bottom el-line setion-animate">
  <div class="circle-scroll el-circle"></div>
  <div class="el-title">
    <h2>creation</h2>
    <p>Margraf Industria Marmi Vicentini выражает подлинную культуру качества, которая включает в себя всю производственную систему, начиная от добычи сырья и до пристального внимания ко всем деталям дальнейшей обработки.</p>
  </div>
  <div class="mac-wrap">
    <img src="images/creation-mac.png" alt="mac">
  </div>
</section>