<section class="section8 el-line el-left">
  <div class="el-title">
    <h2>news <span>library</span></h2>
    <p>Margraf Industria Marmi Vicentini выражает подлинную культуру качества, которая включает в себя всю производственную систему, начиная от добычи сырья и до пристального внимания ко всем деталям дальнейшей обработки.</p>
  </div>
  <span class="el-number">- 08 -</span>
  <div class="news-wrap">
    <div class="news-left">
      <img src="images/iphone.png" alt="iphone">
    </div>
    <div class="news-right">
      <img src="images/news-screen.jpg" alt="news screen">
    </div>
  </div>
</section>

<section class="conclusion el-line">
  <div class="el-title">
    <h2>conclusion</h2>
    <p>Margraf Industria Marmi Vicentini выражает подлинную культуру качества, которая включает в себя всю производственную систему, начиная от добычи сырья и до пристального внимания ко всем деталям дальнейшей обработки.</p>
  </div>
  <div class="conclusion-wrap">
    <div class="circle-wrap">
      <div class="el-circle"></div>
      <span>2106</span>
    </div>
    <div class="circle-wrap">
      <div class="el-circle"></div>
      <span>2106</span>
    </div>
    <div class="circle-wrap">
      <div class="el-circle"></div>
      <span>2106</span>
    </div>
    <div class="circle-wrap">
      <div class="el-circle"></div>
      <span>2106</span>
    </div>
    <div class="circle-wrap">
      <div class="el-circle"></div>
      <span>2106</span>
    </div>
  </div>
</section>